@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
	padding: 0;
    box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
    appearance: none;
    text-decoration: none;
    list-style: none;
}
html{
    font-size: 14px;
}
body{
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
}

.container{
    display: grid;
    width: 100%;
    gap: 1.8rem;
    grid-template-columns: 17rem auto;
}

aside{
    height: 824px;
    background-color: black;
    border-radius: 0px 90px 90px 0px;
}

aside .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3.4rem;
}

aside .logo{
    display: flex;
    color: white;
    align-items: center;
}

aside .logo h2 span{
    font-weight: 300;
}

aside .top img{
    width: 4rem;
}

aside .close{
    display: none;
    color: black;
    border-radius: 50px;
}
aside .close span{
    color: black;
    background-color: white;
    border-radius: 50px;
}

/* SIDEBAR */
aside .sidebar{
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    padding-top: 29px;
}

.sidebar center{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 47px;
}
.sidebar .profile-image{
    width: 90px;
    height: 90px;
    border-radius: 100px;
    margin-bottom: 10px;
}
.sidebar center h4{
    color: white;
    font-weight: 400;
    margin-bottom: 10px;
}
.sidebar center button{
    border: none;
    color: white;
    background-color: hsl(300, 1%, 60%);
    padding: 3px 19px;
    border-radius: 30px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s ease; 
}
.sidebar center button:hover{
    transform: scale(1.1);
}


aside .sidebar a{
    display: flex;
    color: white;
    margin-left: 3rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 0.3s ease;
}
aside .sidebar a:hover{
    background-color: white;
    color: black;
    padding-left: 1rem;
    margin-left: 2.7rem;
    border-radius: 30px 0px 0px 30px;
}

aside h3{
    font-weight: 500;
}

aside .sidebar a span{
    font-size: 1.6rem;
}
aside .sidebar a:last-child{
    position: absolute;
    bottom: 0rem;
    width: 87%;
}


/* main */
main{
    margin-top: 1.4rem;
    display: grid;
    grid-template-rows: 7rem auto 4rem;
}

main header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
}

main header h1{
    font-size: 40px;
    font-weight: 600;
    padding-right: 20px;
}

main header .event-btn{
    color: white;
    border: none;
    border-radius: 30px;
    background-color: black;
    padding: 11px 28px;
    font-size: 14px;
    font-weight: 500;
    opacity: 0;
    transition: all 0.3s ease;
}
main header .event-btn:hover{
    transform: scale(1.05);
}
main header .menu-btn{
    display: none;
    border: none;
    background: transparent;
}

/* section */

section{
    display: grid;
    grid-template-rows: auto auto;
    width: 96%;
    border: 3px solid black;
    border-radius: 100px;
    padding: 33px 80px;
    margin: 0 auto;
}
section .event-details{
    margin-top: 40px;
}
section .event-details form{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
section .event-details form .input{
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}
section .event-details form .input label{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 15px;
}
section .event-details form .input input{
    width: 286px;
    height: 46px;
    border: 1px solid #000000;
    border-radius: 13px;
    outline: none;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
}
section .event-details .time h4{
    margin-left: 120px;
    font-size: 15px;
    margin-bottom: 20px;
}

section .time .bg{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 70px;
}
section .time .bg p{
    font-size: 12px;
    font-weight: 500;
    margin-right: 10px;
}
section .time .bg label{
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #000000;
    border-radius: 13px;
    cursor: pointer;
    padding: 7px 14px;
    transition: all 0.3s;
}
section .time .bg label:hover{
    background-color: #000000;
    color: white;
}
section .time .bg input{
    display: none;
}
section .event-img{
    text-align: center;
}
section .event-img button #submit{
    border-radius: 30px;
    background-color: #000000;
    color: white;
    border: 1px solid black;
}

section .event-img button{
    background-color: #000000;
    border: none;
    border-radius: 30px;
    width: 180px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: white;
    padding: 9px 20px;
    transition: all 0.3s;
}
section .event-img button:hover{
    transform: scale(1.05);
}

footer{
    width: 100%;
    text-align: center;
    margin-top: 35px;
}
footer .social-icons a{
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
    color: black;
}

@media (max-width: 1095px){
    section{
        padding: 43px 5px;
    }
}
@media (max-width: 880px){
    section .event-details form .input input{
        width: 100px;
    }
}

@media (max-width: 768px){
    /* media queries - sidebar */

    .container{
        width: 100%;
        grid-template-columns: 7rem auto;
        transition: 0.3s ease-in-out;
    }
    aside .top{
        margin-top: 1.4rem;
        transition: 0.3s ease-in-out;
    }
    .sidebar center{
        margin-bottom: 14px;
        transition: 0.3s ease-in-out;
    }
    .sidebar .profile-image{
        width: 80px;
        height: 80px;
    }

    aside .logo h2{
        display: none;
        transition: 0.3s ease-in-out;
    }

    aside .sidebar a h3{
        opacity: 0;
    }

    aside .sidebar a{
        width: 5.6rem;
        margin-left: 2.5rem;
        transition: 0.3s ease-in-out;
    }
    aside .sidebar a:last-child{
        position: relative;
        margin-top: 2rem;
        transition: 0.3s ease-in-out;
    }
    section .event-details form .input input{
        width: auto;
    }
    .sidebar .profile-image{
        margin-bottom: -28px;
    }
    
}

@media (max-width: 590px){
    .container{
        display: block;
        margin-left: 5px;
    }
    aside{
        display: none;
        position: absolute;
        width: 18rem;
        left: 0%;
        z-index: 3;
    }
    aside .top{
        justify-content: space-around;
        align-items: end;
    }
    aside .logo h2{
        display: inline;
    }
    aside .sidebar a h3{
        display: inline;
        opacity: 1;
    }
    aside .sidebar a{
        width: 15rem;
    }
    aside .close{
        display: inline-block;
    }
    main{
        margin-top: 0;
    }
    main header{
        height: 70px;
        margin-left: -3px;
        padding: 0%;
        justify-content: space-around;
        box-shadow: 6px 0px 9px 1px #ddd;
    }
    main header .menu-btn{
        display: inline-block;
        cursor: pointer;
    }
    main header h1{
        font-size: initial;
        padding-right: 10px;
    }
    main header .event-btn{
        padding: 6px 14px;
        font-size: 12px;
    }
    section .event-details form{
        display: block;
    }
    section .event-details form .input input {
        
        font-size: 12px;
      
    }
}
