<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
  <title>Document</title>
</head>
<body>
  <br>
  {% block content %}
  <center>
    <h1>500 Internal Server Error</h1>
    <p>Somthing Went Wrong! Try Again...</p>
  </center>
  {% endblock %} 
</body>
</html>