{% extends 'dashboardhome.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eventmemo - calendar</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/dash.css')}}" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
  />
  <main>
    <header>
        <button id="menu-btn" class="menu-btn"><span class="material-symbols-outlined">menu</span></button>
        <h1>Calendar</h1>
    </header>

  <div class="card">
  <div class="container">
    <div id="calendar"></div>
  </div>
  <footer>
    <div class="social-icons">
      <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a>
      <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a>
    </div>
    <p>2023 -© eventmemo</p>
  </footer>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      events: [
      {% for post in posts %}
      {
        title: '{{ post.title }}',
        start: '{{ post.start }}',
        end: '{{ post.end }}',
        url: '{{ url_for("dashboard", id=post.id) }}'
      },
      {% endfor %}
      ],
      eventClick: function (info) {
        info.jsEvent.preventDefault();
        window.location.href = info.event.url;
      }
    });
    calendar.updateSize()
    calendar.render();
  });
</script>
</div>
</main>
{% endblock %}
</body>
</html>