<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/tirms.css')}}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
    
    <title>EventMemo - Your Event Manager Platform</title>
  </head>
  <body>
    <header>
      <div class="image"><img src="{{url_for('static', filename='images/logo2.png')}}" alt=""></div>
    </header>
    <main>
      <h2>Welcome to eventmemo</h2>
      <p class="p1">
        EventMemo is the ultimate event manager platform for all your event
        planning needs. Whether you're planning a small gathering or a
        <br> large-scale conference, EventMemo has got you covered.
      </p>
      <h3>Our Services</h3>
      <ul>
        <li>Event Planning and Coordination</li>
        <li>Venue Selection and Booking</li>
        <li>Catering and Beverage Services</li>
        <li>Decorations and Entertainment</li>
      </ul>
      <hr>
      <h3>Terms and Services</h3>
      <p>By using EventMimo, you agree to our terms and services:</p>
      <ul>
        <li>
          We are not responsible for any errors or omissions in the information
          provided on this website.
        </li>
        <li>
          We reserve the right to change or modify these terms and services at
          any time without prior notice.
        </li>
        <li>
          You are responsible for providing accurate and up-to-date information
          when using our platform.
        </li>
        <li>
          We are not liable for any damages or losses resulting from your use of
          our platform or services.
        </li>
        <li>
          Any personal information you provide to us will be kept confidential
          and used only for the purpose of providing our services to you.
        </li>
      </ul>
      <h3>Registration and Account Security</h3>
      <p>
        You must provide accurate and complete information when registering for
        an EventMemo account. You are responsible for maintaining the security
         <br> of your account and password, and you agree not to share your password
        or account information with anyone else.
      </p>
      <h3>Intellectual Property</h3>
      <p>
        All content on EventMemo, including but not limited to text, graphics,
        logos, images, and software, is the property of EventMemo or its
        licensors and is <br> protected by intellectual property laws. You may not
        use any content from EventMemo without our express written permission.
      </p>
      <h3>Changes to Terms and Services</h3>
      <p>
        We reserve the right to change or modify these terms and services at any
        time without prior notice. By continuing to use EventMemo after <br> any
        changes to the terms and services have been made, you agree to the
        updated terms and services.
      </p>
    </main>

    <footer>
      <p>Copyright &copy; 2023 eventmemo</p>
    </footer>
  </body>
</html>
